{% extends "section.html" %}
{% block section %}
	We're happy you are interested in joining our community.<br>
	If you a researcher, you will need an email address ending in <i>.edu</i>.<br><br>
	<form method="post">
		<h3>Email:</h3>
		<input name="email" type="email">
		<br><br>
		<h3>Password:</h3>
		<input name="password" type="password">
		<br><br>
		<h3>I am a:</h3>
		<input type="radio" name="user_type" value="researcher"> Researcher<br>
		<input type="radio" name="user_type" value="company"> Company<br>
		<br>
		<input type="submit" value="Register">
	</form>
{% endblock %}
