{% extends "base/base.html" %}


{% block content %}
<div class="splash-container">
    <div class="color-overlay"></div>
    <div class="splash">
        <h1 class="splash-head"><span id="splash-title">Secure Your Network</span></h1>
        <p class="splash-subhead">
            With our community of academic security researchers.
        </p>
        <p>
            <a href="{{ url_for('signup') }}" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">

        <h2 class="content-head is-center">Why test with Vulnbid?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 reason-box" id="reports">
                <h3 class="content-subhead">
                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                    Comprehensive Reports
                </h3>

                <p>See what your surface is. Review in-depth findings from our researchers, which can be imported into standard issue trackers.</p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 reason-box" id="payment">
                <h3 class="content-subhead">
                    <i class="fa fa-credit-card"></i>
                    Guaranteed Payment
                </h3>

	            <p>No more doubts about being paid for your time. Guaranteed on-time payment for your hard work.</p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 reason-box" id="risk">
                <h3 class="content-subhead">
                    <i class="fa fa-terminal"></i>
                    Risk-Free
                </h3>

                <p>Our trusted community only uses a single range of IP addresses, so you know it's us (optional stage-environment testing available).</p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 reason-box" id="track">
                <h3 class="content-subhead">
                    <i class="fa fa-group"></i>
                    Proven Track Record
                </h3>

                <p>VulnBid Inc. was founded by researchers with 30 years of collective experience, set out to improve bug bounty platforms for everyone.</p>
            </div>



        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1 pure-u-lg-3-5">
        	<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="pure-u-1 pure-u-md-1 pure-u-lg-2-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Interested? Message the team.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                	Looking for more? Check out our <a href="{{ url_for('about') }}">about</a> page to read more about the history of VulnBid.
                </p>
            </div>
        </div>

    </div>

    {% include 'base/footer.html' %}

</div>

{% endblock %}