<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<title>{{ title }} | VulnBid</title>

<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/marketing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/main.css') }}">

<!--<script type="text/javascript" src="http://updateyourbrowser.net/uyb.js"></script>-->
