<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <div class="flexbox-center-container">

        <div class="flexbox-center-item">
            <a class="pure-menu-heading site-branding" href="{{ url_for('index') }}">
                <span class="site-logo">VULNBID</span>
            </a>
        </div>

        <div class="flexbox-center-item" id="navbar">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="{{ url_for('index') }}" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" class="pure-menu-link">Programs</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Managed</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Unmanaged</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Staged</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="{{ url_for('about') }}" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" class="pure-menu-link">Resources</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a class="pure-menu-link" href="#">Training</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="{{ url_for('login') }}" class="pure-menu-link">Sign In</a></li>
            </ul>
        </div>

    </div>
</div>
